* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}
/*_____ inicio de la pantalla principal_____ */

.principal-screen {
  width: 100%;
  height: 625px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* _____fin de la pantalla principal _____*/

/*_____ inicio del fondo _____*/
.background {
  width: 100%;
  height: 100%;
  background-color: #2499c7;

  background-attachment: fixed;
}
/* _____final del fondo _____*/

/*_____ inicio del header _____*/
.header {
  position: absolute;
  top: 0;

  width: 100%;
  
  margin-top: 2%;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgba(0, 102, 145, 0.7);
  border-radius: 50px;
  width: 90%;
}

.button{
  display: block; 
  all: unset;
}
.icon-svg{
  width: 2em;
  height: 2em;
  fill: white;
  
}
.header img {
  width: 110px;
  height: 110px;
  
}
/* _____final del header _____*/

/*_____ inio del nav _____*/
.nav{
  width: 100%;
  
  display: none;
  
  
   
}
.nav.active{
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.nav-list {
  
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: center;
  list-style: none;
  
  
}

.nav-list li{
  margin: 1em 0;
}
.nav-list li a {
  text-decoration: none;

  font-size: 18px;
  color: #fff;
  letter-spacing: 0.5px;
  transition: all 300ms ease;
}

.nav-list li a:hover {
  font-size: 20px;
  
  color: rgb(247, 160, 60);
}
/* _____inio del nav _____*/


/*_____ inicio del contenido_____ */
.banner-content {
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content img{
  height: 130px; 
  padding-top: 3px;
}

.banner-content .info {
  width: 100%;
  max-width: 750px;
  text-align: center;
}
.principal-title {
  color: #ffffff;
  font-size: 40px;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 70px;
  letter-spacing: 1px;
}


#login-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#link-banner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  justify-content: space-evenly;
}

.banner-content .info a {
  text-decoration: none;
  font-size: 19px;
  padding: 10px 25px;
  color: #fff;
  background-color: #40cfff;
  border-radius: 50px;

  border: 2px solid transparent;
  transition: all 300ms ease;

  letter-spacing: 0.5px; /*Para separar un poco las letras*/
}

.banner-content .info a:hover {
  background: transparent; /*Fondo transparente*/
  border: 2px solid #fff;
}
#login-link, #register-link{
  display: block;

} 
 #name, #logout-button{
  display: none;

} 
.banner-content{
  margin-top: 9%;
}
#login-name{
  display: flex;
  flex-direction: column;
  
  
}

#name {
  color: #ffffff;
  font-size: 23px;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  
  letter-spacing: 1px;
  margin-bottom: 8%;
}
/*_____ final del contenido _____*/

/*_____ inicio de las waves _____*/
.waves {
  position: absolute;
  width: 100%;
  bottom: -10px;
}
.waves img {
  width: 100%;
}
/*_____ final de las waves _____*/

/*_____ inicio del banner _____*/
.banner {
  width: 100%;
  height: 500px;
  position: relative;
}

.image-banner {
  width: 100%;
  height: 100%;
  background: url(/img/informatica-telefono.jpg);
  background-size: cover; /* Para que la imagen se ajuste y cubra todo el contenedor */
  background-repeat: no-repeat; /* Para evitar la repetición de la imagen */
  background-position: center; /* Para centrar la imagen */
  background-attachment: fixed;
  position: relative;
}
.image-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Color de fondo semitransparente (negro con opacidad 0.5) */
}

.title-banner {
  position: absolute;
  top: 50%;
  text-align: center;
}
/*_____ inicio del banner _____*/

/*_____ inicio contenido  _____*/
#first-info-content{
  margin-top: 10%;
}

.info-content{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}


.tittle{
  text-align: center;
  
  color:#000000;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: 40px;
  margin-bottom: 25px;
} 



.info-content p{
  color:#000000;
  text-align: left;
  width: 90%;
  font-size: 18px;
  margin-bottom: 25px;
}


.video-youtube iframe, .video video{
  height: 200px;
  width: 100%;
}
.content-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

.btn{
  margin-top: 10px;
  display: inline-block;
  background:#333;
  color:#fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
  text-decoration: none;
  transition: .2s linear;
}

.btn:hover{
  letter-spacing: 1px;
} 

#separator-content{
  margin-top: 17%;

}



/*_____ final contenido  _____*/


/*_____ inicio contenido  plan estudios_____*/



.contenedor-plan{
  width: 90%;
  max-width: 800px;
  margin: auto;
  
}

.contenedor-plan h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}
.acordeon{

  background: #fff;

}

.acordeon label{
  display: block;
  padding: 20px;
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2px;
  transition: all 300ms ease;
}

.acordeon label:hover{
  background: #2e2e2e;
}
.acordeon .contenido-acordeon{
  padding: 0px;
  margin: 0px 20px;
  /* el max-height: hace que este oculto en un principio */
  max-height: 0px;
  /* escondemos el contenido del acordeon */
  overflow: hidden;
  transition: all 500ms ease;
}
/* al momento de dar click que aparezca el contenido gracias al ser radio o check */
/* el simbolo ~ hace que conecte el boton con el contenido, el btn lo selecciona*/
.btn-acordeon:checked ~ .contenido-acordeon{
  /* y aca lo expandemos para que aparezca */
  max-height: 100%;
  padding: 15px 0px;
  
}
.btn-acordeon{
  display: none;
  
}



table {
  width: 100%;
  
  border-collapse: collapse;
}
th, td {
  border: 1px solid #006691;
  /* padding: 8px; */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;
  font-size: 13px;
}
th {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #cdffff;
}





/*_____ final contenido  plan estudios  _____*/



/* inicio cards de asesoria */
/* .box-container p{
  text-align: center;
} */
#row{
  flex-direction: row;
}
#column{
  flex-direction: column;
  align-items: center;
}
.card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  background: #fff;
  text-align: center;
  margin: 30px;
  padding:10px 10px;
  border-radius: 15px;
  transition: all 400ms;
  
  
  
}
.card-content:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
  
}



.card-info h3{
  color:#444;
  font-size: 22px;
  padding:10px 0;
}

.card-info p{
  color:#777;
  font-size: 15px;
  line-height: 1.8;
}
.card-image img{
  height: 80px;
  width: 80px;
}
.advisor-image img{
  
  height: 230px;
  width: 120px;
}

  
/* final cards de asesoria */


/*_____ Inicio contenido cards _____*/

.content-carts{

  padding:15px 10%;
  padding-bottom: 100px;
  
}

.cards-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}


.link-card{
  margin: 5%;
  text-decoration: none;
  color: #006691;
}

/*_____ Final contenido cards _____*/


/* inicio cards de resultados */
#content-cards{
  padding:15px 10%;
  padding-bottom:100px;
  padding-left: 0%;
  padding-right: 0%;
}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

  background: #fff;
  text-align: center;
  margin: 30px;
  
  padding:10px 10px;
  transition: all 400ms;
}
.card:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}
.card h3{
  color:#2499c7;
  font-size: 22px;
  padding:10px 0;
}
.card h4{
  color:#2499c7;
  font-size: 18px;
  padding:10px 0;
}
.card p{
  color:#777;
  font-size: 15px;
  line-height: 1.8;
}
.card input{
  border: none;
  color: black;
  font-size: 30px;
  background: none;
}
.card img{
  height: 90px;
}
/* fin de card de resultados */


/* inicio referencias */

.background-advice {
  width: 80%;
  height: 80%;
  background-attachment: fixed;
}

.container-advice{
  display: grid;
  place-items: center;
}

.card-advice {

  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin: 30px;
  padding:10px 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  border-radius: 1.5rem;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;


}

.card-advice:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}

.background-advice {
  flex: 1 1 15rem;
}

.background-advice img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.content-advice{
  flex: 3 1 22rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
}

.content-advice > h2 {
  font-size: clamp(
      1.3rem, 2.5vw, 
      1.8rem);
  font-weight: 700;
  margin-bottom: clamp(
      0.35rem, 2vw, 
      0.55rem
  );
}

.content-advice > p {
  font-size: clamp(1rem, 
      1.75vw, 1.1rem);
  font-weight: 400;
  margin: 0.4rem 0;
}

.content-advice a {
  color: var(--primary-violet);
}
.content-advice a img{
  width: 15%;
  height: 35%;
}
.action-button-advice {
  border-top: 1px solid var(
      --gray);
  padding-top: 1rem;
  gap: 0.75rem;
  display: flex;
  margin-top: auto;
  flex-wrap: wrap;
}

.action-button-advice a {
  background-color: #40cfff;
  color: white;
  padding: 0.75rem;
  text-decoration: none;
  border-radius: 0.75rem;
  outline: none;
  border: none;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex: 1 0 15rem;
  height: 30px;
  max-width: 100%;
}

.action-button-advice a:hover {
background-color: #006691;
}
/* fin referencias */



/*_____ Inicio footer _____*/

.footer-container{
	display: flex;
	flex-direction: column;
  

		
}

#separator{
  margin-top: 40%;

}
.block-footer{
  display: flex;
	flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.footer-col ul{
	list-style: none;
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}

.footer{
	background-color: #2499c7;
  padding: 1px 0;
	
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   margin:0;
   padding:0;
   box-sizing: border-box;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{ 
	color: #efad4a;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #efad4a;
}

.waves-footer {
  
  width: 100%;
  margin-bottom: -10px;
  
}
.waves-footer img {
  width: 100%;
}

/* btn style  */
 .card-info .link-box {
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    text-decoration: none;
    
}





/*_____ Final footer _____*/
@media only screen and (min-width: 769px) {
  /* Estilos específicos para dispositivos portátiles */
  /* Se puede agregar estilos aquí que se apliquen a pantallas de hasta 768px de ancho */
  .image-banner {
    
    background: url(/img/informatica.jpg);
    background-size: cover; /* Para que la imagen se ajuste y cubra todo el contenedor */
    background-repeat: no-repeat; /* Para evitar la repetición de la imagen */
    background-position: center; /* Para centrar la imagen */
    background-attachment: fixed;
    position: relative;
  }
  .button {
    display: none;
  }
  .nav {
    display: block;
  }

  .nav{
    width: 50%;
     
  }
  .nav-list li{
    margin: 0 .5em;
  }

  .nav-list {
    
    flex-direction: row;
    
    
  }
  th, td {
    
    padding: 8px;
    
  }
  .banner-content {
    
    height: 10%;
  
  }

  #name {
    
    font-size: 30px;
    
  }

  #first-info-content{
    margin-top: 2%;
  }

  .video-youtube iframe, .video video{
    height: 100%;
    width: 100%;
  }
  .video-youtube , .video {
    height: 400px;
    width: 70%;
  }
  #separator-content{
    margin-top: 5%;
  
  }
  #separator{
    margin-top: 10%;
  
  }
  .info-content p {
    width: 60%;
    text-align: center;
    line-height: 2.0;
    font-size: 20px;
    
    
  }

  .card-content, .card-advice{
    width: 40%;
    
    
    
  }
  .card-advice{
    width: 30%;
    
    
    
    
  }
  .card-advice p{
    width: 100%;
    text-align: center;
    
    
    
    
  }
  .box-container , #card-content-advise{
    display: flex;
    flex-direction: row;
    
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

}


